<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>従業員一覧</title>
    <link rel="stylesheet" th:href="@{/css/employee/index.css}">
</head>
<body>
    <h1>従業員一覧</h1>
    <h2>従業員一覧</h2>
   <form method="post" th:action="@{/logout}">
        <input type="submit" value="ログアウト">
    </form><br>

    <table>
        <tr>
            <th>ID</th>
            <th>code</th>
            <th>名前</th>
            <th>登録日時</th>
            <th>更新日時</th>
            <th>操作</th>
        </tr>
        <tr th:each="employee,index:${EmployeeList}" >
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.authentication.code}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.createdAt}"></td>
            <td th:text="${employee.updatedAt}"></td>
            <td>
                <a th:href="@{/employee/detail/{id}/(id=${employee.id})}">詳細を見る</a>
            </td>
          </tr>
    </table>
    <p>全<span th:text="${#lists.size(EmployeeList)}"></span>件</p>
     <a th:href="@{/employee/register}">新規従業員の登録</a>

</body>

</html>
