<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>従業員編集ページ</title>
    <link rel="stylesheet" th:href="@{/css/employee/update.css}">
</head>

<body>
    <h1>id[[${employee.id}]]の従業員編集ページ</h1>
    <p>(パスワードは変更する場合のみ入力してください) </p>
    <form method="post" th:action="@{/employee/update/{id}/(id=${employee.id})}" th:object="${employee}">
        <label for="code">社員番号</label>
        <p code="code" name="社員番号" th:text="*{authentication.code}"> </p>
        <br>
        <label for="name">氏名</label>
        <input type="text" th:field="*{name}">
        <br>
        <label for="password">パスワード</label>
        <input type="password" th:filed="*{authentication.password}" >
        <br>
        <label for="role">権限</label>
        <select>
            <option value="" th:text="選択してください">
            <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}" th:value="${item}" th:text="${item}" th:selected="*{authentication.role} == ${item}">
        </select>
      　<br>
        <input type="submit" value="投稿">
        <br>
　   </form>
       <a  th:href="@{/employee/delete/{id}/(id=${employee.id})}" > このユーザー情報を削除する </a>
 　　 <br>
        <a th:href="@{/employee/index}">一覧に戻る</a>
</body>
</html>